<h1>Start a New Session</h1>

<div class="session-meta">
  <span class="budget-remaining">Budget: <strong>15:00</strong></span>
  <span class="streak-count">Streak: <strong><%= @streak_count %></strong></span>
</div>

<%= render "queue_preview", queue_exercises: @queue_exercises %>

<% unless @queue_exercises.empty? %>
  <%= form_with url: sessions_path, method: :post do |f| %>
    <%= f.submit "Start Session" %>
  <% end %>
<% end %>

<div class="keyboard-shortcuts">
  <p>Keyboard shortcuts:</p>
  <ul>
    <li><kbd>Enter</kbd> or <kbd>s</kbd> &mdash; Start session</li>
  </ul>
</div>
