<h1><%= @lesson.title %></h1>
<div class="lesson-content">
  <p><%= @lesson.content_body %></p>
</div>
<div class="equivalents">
  <p><strong>Python:</strong> <%= @lesson.python_equivalent %></p>
  <p><strong>Java:</strong> <%= @lesson.java_equivalent %></p>
</div>
